
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}


/* Default font and size */
body {
	/* background behind the plot */
	background: #111111;
	color: #999999;

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;


}

span {
  white-space:pre;
}


.containerBig{
	display: grid;
	grid-template-columns: 15vw 40vw 30vw 15vw;
  grid-template-rows: 8vh 84vh 15vh 45vh 50vh;
	column-gap: 0px;
  row-gap: 0px;
	justify-content: stretch;
}

td {
	font-size:0.7vw;
}
th {
	font-size:0.8vw;

}

.full-width {

}
.Header {

	font-size: 0.7vw;
	/*border: solid green 1px;    2vh*/

}

.axis--grid .domain {
	fill: #333333;
	stroke: none;
}

.axis--x .domain,
.axis--x .tick line,
.axis--grid .tick line {
	stroke: #999999;
}

.axis--x .tick text {
	color: #999999;
	font-weight: bold;
}

.axis--grid .tick--minor line {
	stroke-opacity: 1;
}


.graticule {
	fill: none;
	stroke: #000;
	stroke-width: .5px;
	stroke-opacity: 0;
}
.sphere {
	fill: url(#linear);
	fill-opacity: 1;
	stroke: #000;
	stroke-width: 1px;
	stroke-opacity: .5;
}
.country {
	fill: #777777;
	fill-opacity: 1;
	stroke: #999999;
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
}
.tooltip {
		position: absolute;
		font-size: 12px;
		width:  auto;
		height: auto;
		pointer-events: none;
		background-color: #222222;
		border-radius: 4px;
}

.circle-hover {
		stroke: #000;
		stroke-width: 2px;
		vector-effect: non-scaling-stroke;
}

.circle-clicked {
		fill:#ffffff;
		stroke: #000;
		stroke-width: 2px;
		vector-effect: non-scaling-stroke;
}

.plotline{
	fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.plotaxis path,
.plotaxis line {
  fill: none;
  stroke: #000;
}
