
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}


/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: #fefeef;

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

.timeline{
	margin: auto;
	width: 90%;
}

.map {
  margin: auto;
	width: 80%;
}

.area {
	fill: lightsteelblue;
}

.axis--grid .domain {
	fill: #eeeeee;
	stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
	stroke: #fafafa;
}

.axis--grid .tick--minor line {
	stroke-opacity: 1;
}

.graticule {
	fill: none;
	stroke: #000;
	stroke-width: .5px;
	stroke-opacity: .5;
}
.sphere {
	fill: #EEFAFC;
	fill-opacity: 1;
	stroke: #000;
	stroke-width: 1px;
	stroke-opacity: .5;
}
.country {
	fill: #fafafa;
	fill-opacity: 1;
	stroke: #888;
	stroke-width: 1px;
}
.tooltip {
		position: absolute;
		font-size: 12px;
		width:  auto;
		height: auto;
		pointer-events: none;
		background-color: white;
}
.circle-hover {
		stroke: #000;
		stroke-width: 1px;
}
